body {
    font-family: 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 13px;
    line-height: 1.5em;
    background-color: #5C5B5B;
    background: #E0DCDC url("/images/body-bg.png") repeat-x top left;
}

h1 {
    color: black;
    margin-left: 20px;
}

h2 {
    color: black;
    margin-left: 15px;
}

h3 {
    color: black;
    margin-left: 10px;
}

h4 {
    color: black;
    margin-left: 8px;
}

a {
    color: black;
    text-decoration: none;
}

p {
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#wrap {
    max-width: 960px;
    margin: 0 auto;
    background-color: white;
    margin-top: 30px;
}

header {
    background-color: #6E6E6E;
    border-radius: 4px;
    padding: 30px;
}

#logo {
    text-align: center;
    vertical-align: middle;
    margin: auto;
}

#feedbacklogo {
    position: absolute;
    right: 0;
    top: 0;
}

#thumbnail {
    text-align: left;
    margin-left: 20px;
}

footer {
    background-color: #6E6E6E;
    font-size: 12px;
    text-align: center;
    border-radius: 4px;
    padding: 30px;
}

#copyright {
}

article {
    border-bottom-style: solid;
    border-bottom-width: thin;
}

a:hover {
    background-color: #7f8c8d;
    color: white;
    width: 100%;
}

a {
    display: block;
    color: black;
    text-decoration: none;
}

nav {
    list-style-type: none;
    background-color: #ecf0f1;
    overflow: hidden;
    border: 1px solid #dedede;
    border-radius: 4px;
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
    color: #888;
    display: block;
    width: auto;
}

li {
    width: 20%;
    float: left;
    display: inline;
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: center;
}

#contactform input, #contactform textarea {
    display: block;
    margin-bottom: 1em;
    margin-top: 1em;
    margin-left: 1em;
}

#contactform input[type=text], #contactform textarea {
    width: 30em;
    max-width: 750px;
    margin-left: 1em;
}

#contactform input:focus, #contactform textarea:focus {
    box-shadow: 0 0 5px 0 #2a9898;
    margin-left: 1em;
}

#contactform label {
    float: left;
    width: 10em;
    margin-right: 1em;
    margin-left: 1em;
}

#contactform .missing {
    border: 3px solid #36B3B3;
}

#contactform #contactform-name {
    display: none;
}

#errormessage {
    display: block;
    width: auto;
    height: auto;
    padding: 19px 20px 19px 20px;
    background: #FBE3E4;
    color: #8a1f11;
    font-style: italic;
    border-radius: 5px;
    margin: 20px 20px 20px 20px;
}

input[type="submit"],
input[type="reset"],
input[type="button"],
.button {
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    -moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    -ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    background-color: #989898;
    border-radius: 5px;
    border: 0;
    color: #ffffff !important;
    cursor: pointer;
    display: inline-block;
    font-weight: 700;
    height: 2.75em;
    line-height: 2.75em;
    padding: 0 1.5em;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
}

#contactform #contactbutton {
    display: inline-block;
}